.gridWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 8fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;


  @include media (tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1.5fr 7fr 1.5fr;
  }
}

i {
  font-size: createVW($h4FontSize);
  color: $textColour;

  @include media(tablet) {
    font-size: createREM($h4FontSize);
  }
}

.logo {
  width: 8vw;

  @include media(tablet) {
    width: 5vw;
  }
}

.geoImage {
  width: 8vw;

  @include media(tablet) {
    width: 5vw;
  }
}

header {
  height: 10vh;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1;
  align-items: center;
  justify-content: space-around;

  @include media (tablet) {
    height: 15vh;
  }

  .logoHeader {
    grid-column: 1;
    grid-row: 1;

    align-items: center;
    justify-content: center;

    #logo {
      text-align: center;
    }

    h1 {
      text-align: center;
      // justify-self: center;
    }
  }

  #geoImage {
    justify-self: center;
    grid-column: 3;
    grid-row: 1;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }
}

main {
  height: 80vh;
  grid-column: 1 / -1;
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  @include media (tablet) {
    height: 70vh;
  }

  #map {
    z-index: 0;
  }
}

aside {
  grid-column: 1 / -1;
  grid-row: 2;
  display: none;
  height: fit-content;
  max-height: 60vh;
  background-color: $accentColour;
  padding: right;
  z-index: 50;
  padding-left: 10px;
  box-shadow: 10px 10px 5px 0px rgba(37, 126, 202, 0.5);

  .airInfo {
    display: grid;
    grid-template-columns: 4fr;
    grid-template-rows: 5fr;
    grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    min-width: 0;
    min-height: 0;

    padding: 2vw;

    .location {
      grid-column: 1 / 2;
      // text-align: center;
    }

    .pollution {
      grid-column: 3;
      grid-row: 1;
      display: flex;
      align-self: center;
      justify-self: center;
      padding: 0 1vw;
    }

    .temperature {
      grid-column: 1 / 2;
      grid-row: 3;
    }

    .humidity {
      grid-column: 1 / 2;
      grid-row: 4;
    }

    .wind {
      grid-column: 1 / 2;
      grid-row: 5;
    }

    .weatherIcon {
      width: 11vw;
      grid-column: 1;
      grid-row: 2;
    }

    img {
      grid-column: 2 / 4;
      grid-row: 2 / 6;
      width: 48vw;
      max-width: 500px;
      color: $secondaryColour;
    }

    i {
      color: $secondaryColour;
    }
  }
}

footer {
  height: 10vh;
  grid-column: 1 / -1;
  grid-row: 3;

  display: flex;
  justify-content: space-between;

  @include media (tablet) {
    height: 15vh;
  }

  i {
    font-size: createVW($h5FontSize);
    color: $textColour;

    @include media(tablet) {
      font-size: createREM($h5FontSize);
    }
  }


  .gitPersonal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw;
  }

}