// global sizes
// do not include measurement unit - the function will take care of that

// wrapper width
$maxWidth: 1200;

// font-size
$h1FontSize: 40;
$h2FontSize: 30;
$h3FontSize: 20;
$bodyFontSize: 18;
