// global sizes
// do not include measurement unit - the function will take care of that

// wrapper width
$maxWidth: 1200;

// font-size
$h1FontSize: 30;
$h2FontSize: 24;
$h3FontSize: 20;
$bodyFontSize: 18;

//colors
$primaryColour: #aad3e0;
$secondaryColour: #f1eee9;
$accentColour: #257eca;
$textColour: #000;