// global sizes
// do not include measurement unit - the function will take care of that

// wrapper width
$maxWidth: 1000;

// font-size
$h1FontSize: 50;
$h2FontSize: 36;  
$h3FontSize: 32;
$h4FontSize: 50;
$h5FontSize: 20;
$bodyFontSize: 18;

//colors
$primaryColour: #aad3e0;
$secondaryColour: #f1eee9;
$accentColour: #257eca;
$textColour: #000;